body {font-family: "Nunito Sans", Calibri, sans-serif;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-areas:
       "header"
       "main"
       "footer";
	
      background-color: #ffffff;
      color: 04010e;
      background-size:cover;
      background-repeat: no-repeat;
      text-align: left;
      font-size: 16px;
      }

h1, h2, h3, h4 {font-family: "Nunito Sans", Calibri, sans-serif;
                  text-align: left;}
h1{      font-size: 4em;
         color: rgba(255, 255, 255, 1);
         margin: 25px}


header {
background-color: white;
text-align:center;
font-size: 18px;
border-radius: 10px;
}

footer {
text-align:center;
font-size: 14px;
color: black;
}

main{
     display: grid;
     grid-template-rows: 1fr;
     grid-gap: 16px;
background-color: rgb(255, 255, 255);
}

hr {
  height: 2px;
  width: 20%;
  border-width:0;
  background-color:#bfa9a8;
}

img {
  width: auto ;
  height: auto ;
}

.logo {
  text-align: center;
  transition: transform .1s;
}
.logo:hover{
transform: translate(0, -10px);
}

.logo img{
height: 125px;
}

.logo {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.summer-banner {
overflow: auto;
}

.summer-banner img{
width: 100%;
-webkit-mask-image: linear-gradient(to bottom, #ffffff 70%, transparent 100%);
}

.mainwrapper{
justify-content: center;
align-items: center;
}

.navigation {
  display: flex;
  position: sticky;
  padding: 10px;
  
  top: 0px;
  background: rgb(255, 255, 255);
  color: rgb(150, 121, 121);
  justify-content: center;
  font-size: 1 rem;

  z-index: 100;
  border-bottom: solid 4px #007691;
}

.navigation img {
  margin-bottom: 0px;
  width: 200px;
}

.navigation a {
  border-bottom: none;
  color: #8eae50;
}

.navigation i {
  margin: 0px;
  padding: 10px;
}

.navigation .top-arrow {
  right: 0px;
  position: absolute;
}

.navigation .home-button {
left: 0px;
position: absolute;
}

.mainpage-box{
top: 0;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
width: 100px; 

z-index: 1;

background-color: rgb(255, 255, 255);
color: #32403b;
width: 93%;

text-align: left;
font-size: 18px;
padding: 25px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mainpage-box{
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.labelcategory{
display: inline-block;
transition: transform .2s;
text-align: left;
font-size: 22px;
color: #314e19;
}
.labelcategory:hover {
transform: scale(1.01);
}

.line {
  display: inline-block;
  width: 100%;
  border-image: linear-gradient(90deg, #a8db83, #42b9f5) 30;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
}

.box {
text-align:center;
justify: center;
}
.bg {
background-color: white;
text-align:left;
width: 97%;
display: inline-block;
box-shadow: 0 0 11px rgba(33,33,33,.5);
}
.essay {
background-color: white;
text-align:left;
font-size: 15px;
padding: 10px;
margin: 10px;
display: inline-block;
}
.entirebox{
background-color: white;
}

.indexcontent-box{
background-color: rgba(255, 255, 255, 1);
color: #32403b;
border: 0px solid #667a6e;

z-index: 1;
text-align: left;
font-size: 18px;
border-radius:10px;
padding: 0 25px 0 25px;
}

.main-nav{
padding: 2px;
background-color: #870700;
color: white;
text-align: center;
font-size: 18px;
border-radius:10px;
padding: 0 0 0 0;
}

.main-section-holder {
display: grid;
grid-template-columns: repeat(auto-fill,minmax(435px,1fr));
gap: 1em;
padding: 0px 10px 0px 10px;
}
.column {
    position: relative;
    border-radius: .25em;
    overflow: hidden
}
@media only screen and (max-width: 600px) {
    .main-section-holder {
        grid-template-columns:repeat(auto-fill,minmax(250px,1fr))
    }
}


a:link {color: #005063; text-decoration: none;}
a:visited {color: #436e3f; text-decoration: none;}
a:hover{color: #95b092; text-decoration: none;}
a:active{color: black; text-decoration: none;}

.detail-text{
font-size: 15px;
}

.detail-text b{
font-size: 15px;
color: #084731;
}

.detail-text a {
color: #0f6270;
}

.preview-thumbnail img{
  max-width: 240px;
}

@media only screen and (max-width: 600px) {
  .mainwrapper{max-width: 100%;}
  .mainpage-box{max-width: 90%;}
  .summer-banner img{max-width: 100%;}
  .logo img{max-width: 350px;}
  }

  .TL-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }
  
  .idolTL-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }

  .idolTL-wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }

  .idolTL-wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }

  .idolTL-wrapper4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }
  
  .managamentTL-wrapper {
  }

    
  .magazine-storyblock{
  position: relative;
  transition: transform .1s;
  }
  .magazine-storyblock:hover{
  transform: translate(0, -10px);
  }
  
  .magazine-storyblock img{
    height: auto;
    width: auto;
  max-width: 100% ;
  max-height: 100% ;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .management-storyblock{
    gap: 5px;
  position: relative;
  height: 200px;
  display: inline-block;
  transition: transform .1s;
  }
  .management-storyblock:hover{
  transform: translate(0, -10px);
  }
  
  .management-storyblock img{
    height: auto;
    width: auto;
  max-width: 100% ;
  max-height: 100% ;
  }
  
  .management-storyblock-wip{
    gap: 5px;
  position: relative;
  height: 200px;
  display: inline-block;
  filter: grayscale(80%);
  opacity: 0.5;
  background-color: white;
  transition: transform .1s;
  }
  
  .management-storyblock-wip img{
    height: auto;
    width: auto;
  max-width: 100% ;
  max-height: 100% ;
  }
  
  .management-storyblock-wip:hover{
  transform: translate(0, 10px);
  }
  
  .idol-storyblock{
  position: relative;
  display: inline-block;
  transition: transform .1s;
  box-shadow: #000b2b;

  z-index: 1;
  }
  
  .idol-storyblock img{
    height: auto;
    width: auto;
  max-width: 100% ;
  max-height: 100% ;
  
  border: 2px solid rgb(190, 190, 208);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transition-duration: .2s;
  }

  .idol-storyblock:hover{
    animation: floatyMotion 2.5s ease-in-out infinite;
    z-index: 100;
  }

  @keyframes floatyMotion {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}

  .idol-storyblock:hover img{
    border: 2px solid rgb(0, 140, 255);

    transform: scale(1.1);
    transform: rotate(5deg);
    }

    .chara-name {
      font-size: 14px;
      text-align: left;
      visibility: visible;
      z-index: 30;
    
      transition: transform .2s;}

    .idol-storyblock:hover .chara-name{
      color: rgb(255, 255, 255);

      background-color: rgb(0, 156, 177);
      border-top: solid 2px rgb(255, 255, 255);
      border-bottom: solid 2px rgb(254, 254, 254);
      opacity: 1;
      z-index: 100;
      }
      .idol-storyblock:hover .partialTL-label {
        background-color: rgb(177, 38, 0);
        z-index: 100;
        }
      .idol-storyblock:hover .unproofread-label {
        background-color: rgb(177, 38, 0);
        z-index: 100;
        }

      .idol-storyblock:hover .chara-name-fish{
        color: rgb(255, 255, 255);

        background-color: rgb(0, 156, 177);
        border-top: solid 2px rgb(255, 255, 255);
        border-bottom: solid 2px rgb(254, 254, 254);
        opacity: 1;
 
        z-index: 100;
        }

  
  .album-storyblock{
    position: relative;
    display: inline-block;
    transition: transform .1s;
    }
    .album-storyblock:hover{
    transform: translate(0, -10px);
    }
    
    .album-storyblock img{
      height: 100%;
      width: 100%;
    max-width: 200px;
    max-height: 200px;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

.proofread{
  position: relative;
  display: inline-block;
  transition: transform .1s;}
.proofread:hover{
  transform: translate(0, -10px);
}
.proofread img{
      max-width: 150px;
}
    

  .event-storyblock{
  position: relative;
  display: inline-block;
  transition: transform .1s;
  }
  .event-storyblock:hover{
  transform: translate(0, -10px);
  }
  
  .event-storyblock img{
    height: auto;
    width: auto;
  max-width: 100% ;
  max-height: 100% ;
  border-radius: 10px;
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .event-storyblock .name {
    visibility: visible;
    opacity: 1;
    position: absolute;
  transition: transform .1s;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  
  padding: 2px;
  background-color:#002b27;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0 25px 0 25px;
  
  max-width: 100%;
  bottom: 15px;
  }

.unproofread-wrapper {}

.unproofread-block {  position: relative;
    display: inline-block;
    transition: transform .1s;
    }
.unproofread-block:hover {
    transform: translate(0, -10px);
}

.unproofread-block img{
  height: auto;
  width: auto;
max-width: 100px ;
max-height: 100px ;
  }

  .chara-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    
    padding: 2px;
    background-color:#000b2bab;
    color: white;
    border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(254, 254, 254);
    text-align: left;
    padding: 0 25px 0 25px;
    
    max-width: 100%;
    bottom: 5px;
    }
    
    .unproofread-label {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;

      font-size: 12px;
      z-index: 30;
      
      padding: 2px;
      background-color:#0ab0a5;
      color: white;
      border-top: solid 2px rgb(255, 255, 255);
      border-bottom: solid 2px rgb(254, 254, 254);
      text-align: left;
      padding: 0 25px 0 25px;
      
      max-width: 100%;
      bottom: 30px;}

      .partialTL-label {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
  
        font-size: 12px;
        z-index: 30;
        
        padding: 2px;
        background-color:#50a100;
        color: white;
        border-top: solid 2px rgb(255, 255, 255);
        border-bottom: solid 2px rgb(254, 254, 254);
        text-align: left;
        padding: 0 25px 0 25px;
        
        max-width: 100%;
        top: 5px;}

      .WIP-label {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
  
        font-size: 12px;
        z-index: 30;
        
        padding: 2px;
        background-color:#04006b;
        color: white;
        border-top: solid 2px rgb(255, 255, 255);
        border-bottom: solid 2px rgb(254, 254, 254);
        text-align: left;
        padding: 0 25px 0 25px;
        
        max-width: 100%;
        top: 5px;}

  .chara-name-fish{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    
    padding: 2px;
    background-color:#16828a;
    color: white;
    border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(254, 254, 254);
    text-align: left;
    padding: 0 25px 0 25px;
    
    max-width: 100%;
    bottom: 5px;
    }

    .cw-dropdown {
      border-left: 4px solid #850101;
      background-color: #ffffff;
      font-size: 15px;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      margin-bottom: 1.5em;
    }
    
    .cw-dropdown.red {
      background-color: #ffffff;
      border-left-color: #c0392b;
    }
    
    .cw-dropdown summary {
      cursor: pointer;
      list-style: none;
      outline: none;
      color: #333;
      transition: color 0.2s ease;
    }
        
  
  @media only screen and (max-width: 600px) {
    .navigation img {width: 130px;
    }
    .TL-wrapper{
      grid-template-columns: 1fr 1fr;
    }
    .idolTL-wrapper{
      grid-template-columns: 1fr 1fr;
    }
    .idolTL-wrapper2{
      grid-template-columns: 1fr 1fr;
    }
    .idolTL-wrapper3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .idolTL-wrapper4 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .managementTL-wrapper {grid-template-columns: 1fr 1fr;
    }
    .story-holder {width: 100%;}
    .story-holder .event-storyblock {display: inline-block; margin: 1% 0;}
    .story-holder .idol-storyblock {display: inline-block; margin: 1% 0;}
    .story-holder .management-storyblock {display: inline-block; margin: 1% 0;}
    .story-holder .management-storyblock-wip {display: inline-block; margin: 1% 0;}
    .story-holder .magazine-storyblock {display: inline-block; margin: 1% 0;}
    .story-holder .album-storyblock {display: inline-block; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));}
    .story-holder .album-storyblock img {height: auto; width: auto; max-width: 400px;}
    .event-storyblock img{max-width: 100%;}
    .chara-name {font-size: 13px;}
    .chara-name-fish {font-size: 13px;}
    }